/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.body-padding {
    @apply p-4
}

.error-text {
    @apply text-red-300
}

.panel {
    @apply bg-white shadow-md rounded-xl p-4 border border-gray-200
}

form {
    @apply flex flex-col items-center
}

input,textarea,select {
    @apply border border-gray-300 rounded-lg p-2 w-full focus:ring-2 focus:ring-blue-500
}

.button-generic {
    @apply px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-lg shadow;
}

.button-white {
    @apply px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-lg shadow;
}

.button-critical {
    @apply px-4 py-2 bg-red-600 hover:bg-red-700 text-white rounded-lg shadow;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
